*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    
}

body{
    font-family: sans-serif;
    background-color:rgb(243,244,246);
}

.wrapper{
    background-color: white;
    max-width:90%;
    margin:0 auto;
    margin-top:20px;
    margin-bottom:20px;
    padding-top:10px;
    padding-bottom:10px;
    border-radius:8px;
}

    .picture-div{
       
       text-align:center;

       
    }

@media (min-width: 700px) {
    .wrapper {
        max-width: 900px;
        margin: 2rem auto;
        background-color:white;

        
    }


   
}

@media (min-width:1024px){
    .dovednosti{
        display:grid;
        grid-template-columns:repeat(4,1fr);
        gap:15px;
    }

    .section-header{
        padding-top:20px;
    }

    .portfolio-dovednosti{
      display:flex;
      gap:10px;
    }

    .header{
        display:flex;
        align-items:center;
        text-align:left;
        gap:20px;
        
    }
}


.profile-picture{
    width:80px;
    height:auto;
    
    
}

.header{
    width:90%;
    margin: 0 auto;
    padding-bottom:15px;
   
}

.page-header{
    color:rgb(79,70,229);
    font-size:25px;
}

.under-header{
    font-size:20px;
    padding-bottom:5px;
    font-weight: 300;
}

.description{
    font-size:15px;
    color:#666;
}

.main{
    width:90%;
    margin: 0 auto;
    
}

.section-header{
    font-size:18px;
    color:rgb(99,102,241);
    padding-bottom:15px;
}

.dovednosti{
    text-align:center;
    font-size:15px;
}

.dovednost{
    background-color: rgb(238,242,255);
    margin-bottom:10px;
    padding-bottom:10px;
    padding-top:10px;
    border-radius:10px;
    padding:10px;
    
}

.portfolio-picture{
   width:90%;
   display:block;
   margin:0 auto;
   border-radius: 8px;
   padding-top:5px;
  
}

.portfolio-item{
    
    margin-bottom:15px;
    padding-top:10px;
    padding-bottom:10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    border-radius:8px;
}

.portfolio-header{
    width:90%;
    margin:0 auto;
    text-align:left;
    padding-top:10px;
    font-size:18px;
    padding-bottom:10px;
}

.portfolio-text{
     width:90%;
    margin:0 auto;
    text-align:left;
    padding-bottom:5px;
    color:#666;
}

.kontakt{
    margin-bottom:10px;

}

.tucne{
    font-weight: bold;
}

.kontakt-odkaz{
    text-decoration:none;
    color:blue;
}

.kontakt-odkaz-special{
    color:black;
    text-decoration:none;
}


@media (min-width:1200px){
    .header{
        display:flex;
        
    }
}





